.wrapper {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Lucida Sans', Verdana, sans-serif;
}

.header,
.section {
  background-color: white;
  border-radius: 10px;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  }

.header {
  width: 60%;
}

#photo {
  margin: auto;
}

.section {
  width: 40%;
  }

#description {
  margin: auto;
  width: 60%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

ul,
ol {
  margin: auto;
  display: inline-block;
  color: white;
}

ul {
  padding-left: 0px;
  list-style-position: inside;
  list-style-type: none;
}

ol {
  width: 60%;
}

#homelink {
  color: white;
}