.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header,
.recipes {
    margin: auto;
    border: 3px solid black;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-family: 'Lucida Sans', Verdana, sans-serif;
  }

.header {
    width: 60%;
}

.recipes {
    width: 40%;
  }



ul {
    display: inline-block;
    padding-left: 0px;
    list-style-position: inside;
    list-style-type: none;
}